
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="padding:20px;">
        <h1>Landing Page</h1>
        <br /><br />
        
        <a href="/Orders/Index">Go to Orders</a>

    </div>
</body>
</html>
